.contenedor{
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
}


.espacios{
   margin-top: 10vh;
   margin-bottom: 2vh;
}

