.cards {
  border: 5px;
  width: 40vh;
  height: 38vh;
  background-color: rgb(220, 233, 243);
  border-radius: 0 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
  padding-top: 2%;
  margin-left: 4%;
  text-align: center;
  
}

.cards img {
    border-radius: 4%;
    height: 25vh;
}

.cards h2 {
  margin-top: 2vh;

}
.cards h3 {
  width: 20vh;
  margin-top: 2vh;

}


.box{
    position: absolute;
    background-color: var(--primary-color);
   border-radius: 40px 10px 10px 40px;
    width: 129vh;
    margin-left: 22%;
    margin-top: 5%;
}

