.cards {
  border: 5px;
  width: 40vh;
  height: 40vh;
  background-color: rgb(220, 233, 243);
  border-radius: 0 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
  padding-top: 2%;
  margin-left: 4%;
  text-align: center;
  
}

.cards img {
    border-radius: 4%;
    height: 25vh;
}

.cards h2 {
  margin-top: 2vh;

}
.cards h3 {
  width: 20vh;
  margin-top: 2vh;

}


.box{
    position: absolute;
    background-color: var(--primary-color);
   border-radius: 40px 10px 10px 40px;
    width: 129vh;
    margin-left: 22%;
    margin-top: 5%;
}

@media screen and (max-width: 768px) {
  .cards {
    width: 60vh;
    height: 60vh;
  }

  .cards img {
    height: 35vh;
  }

  .cards h2 {
    margin-top: 4vh;
  }

  .cards h3 {
    width: 25vh;
    margin-top: 4vh;
  }

  .box {
    width: 80vh;
    margin-left: 10%;
  }
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .cards {
    width: 80vh;
    height: 80vh;
  }

  .cards img {
    height: 45vh;
  }

  .cards h2 {
    margin-top: 6vh;
  }

  .cards h3 {
    width: 30vh;
    margin-top: 6vh;
  }

  .box {
    width: 90vh;
    margin-left: 5%;
  }
}
