.cards{
border: 5px;
width: 44vh;
height: 62vh;
background-color: rgb(211, 211, 211);
border-radius: 4%;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 4%;
padding-top: 2%;
margin-left: 4%;
text-align: center;
}

.cards img{
    border-radius: 4%;
    height: 36vh;
}

.cards h2{
   margin-top: 4vh;

}
.cards h3{
   margin-top: 4vh;
}

.espacios{
   margin-top: 2vh;
   margin-bottom: 2vh;
}


